{% extends 'base.html' %} {% block title %}
<title>Genesys: Register</title>
{% endblock %} {% block body %}
<div class="container m-auto p-3">
  <!-- Registration card -->
  <div class="card p-3 pt-4" style="width: 20rem">
    <form action="/register" method="POST" autocomplete="off">
      <div class="form-label-group mb-4">
        <input
          type="text"
          value="{{request.form.name}}"
          name="name"
          class="form-control"
          placeholder="Full Name"
          required
        />
      </div>

      <div class="form-label-group mb-4">
        <input
          type="email"
          value="{{request.form.email}}"
          name="email"
          class="form-control"
          placeholder="Email"
          required
        />
      </div>

      <div class="form-label-group mb-4">
        <input
          type="text"
          value="{{request.form.username}}"
          name="username"
          class="form-control"
          placeholder="Username"
          required
        />
      </div>

      <div class="form-label-group mb-4">
        <input
          type="password"
          value="{{request.form.password}}"
          name="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>

      <div class="form-label-group mb-4">
        <input
          type="password"
          value="{{request.form.confirm}}"
          name="confirm"
          class="form-control"
          placeholder="Confirm Password"
          required
        />
      </div>

      <div class="form-label-group mb-4">
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
